langchain
langgraph
streamlit
pandas
langchain-openai
langchain-google-genai
langchain-experimental
python-dotenv
faker
langchain-community
tabulate
scikit-learn
mlflow
google-generativeai
boto3
joblib
boto3
langchain-groq
watchdog