# --- Core Application ---
streamlit==1.52.2
pandas==2.3.3
python-dotenv==1.2.1
Faker==40.1.0
watchdog==6.0.0

# --- AI & LangChain Ecosystem ---
langchain==1.2.0
langchain-core==1.2.5
langchain-community==0.4.1
langchain-experimental==0.4.1
langchain-google-genai==4.1.2
langchain-groq==1.1.1
langgraph==1.0.5

# --- Data Science & ML ---
# These match your local environment where you trained the model
scikit-learn==1.8.0
joblib==1.5.3
numpy==2.4.0
mlflow==3.8.1

# --- Cloud Infrastructure ---
boto3==1.42.21